ul {
  list-style: none;
}

ul li a i {
  font-size: 2rem;

  color: #444;
}

button i {
  font-size: 2rem;

  color: #444;
}

nav ul li a:hover {
  text-decoration: none;
}

.header-top {
  height: 170px;
}

.header-bottom {
  
  background: url("https://info-imgs.vgcloud.vn/2020/06/26/13/an-tuong-bo-anh-chill-duoi-anh-hoang-hon-phong-cach-hongkong-10.jpg") no-repeat center;
  background-size: cover;
  height: 54vh;
}

.blog h1 {
  font-size: 3.5rem;
  color: #444444;
}




