ul {
  list-style: none;
}

ul li a i {
  font-size: 2rem;

  color: #444;
}

button i {
  font-size: 2rem;

  color: #444;
}

nav ul li a:hover {
  text-decoration: none;
}

.header-top {
  height: 170px;
}

.header-bottom {
  
  background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallhere.com%2Fvi%2Fwallpaper%2F1413233&psig=AOvVaw0H-bWtumuRamp3qdOowiue&ust=1636372033650000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLD9x4KXhvQCFQAAAAAdAAAAABAJ") no-repeat center;
  background-size: cover;
  height: 54vh;
}

.blog h1 {
  font-size: 3.5rem;
  color: #444444;
}




