<div class="container-fluid">
  <div class="list-article">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3 text-center mb-4" *ngFor="let article of articles">
        <h4 class="mt-3"><a href="" class="article-title text-dark">{{article.title}}</a></h4>
        <img class="img-article"
             [src]="article.author.image"
             alt="" style="width: 100%">
        <p class="article-detail">
          {{article.description}}
        </p>
        <p>
          Date created: {{article.createdAt | date: 'short'}}
        </p>
      </div>
    </div>
  </div>
</div>
