ul {
    list-style: none;
  }
  
  ul li a i {
    font-size: 2rem;
  
    color: #444;
  }
  
  button i {
    font-size: 2rem;
  
    color: #444;
  }
  
  nav ul li a:hover {
    text-decoration: none;
  }
  
  .header-top {
    height: 0px;
  }
  .dropdown-toggle{
    display: flex;
    align-items: center;
    img{
      display: block;
    }
    p{
      margin-top: 10px;
    }
  }
  